$primary: #0077dd;
$secondary: #67b1f2;
$white: #fff;
$white-smoke: #f8f8f8;
$off-white: #f1f1f1;
$nobel: #a1a1a1;
$dim-grey: #6b6b6b;
$lochmara: #39739d;
$pattens-blue: #e1ecf4;
$blue-zodiac: #3a4355;
$red: #723036;
$red-100: #f5c3c8;
$red-200: #f7d7da;
